body{
	width: 80%;
	margin: 10 auto;
	background-color: #eeeeee;
	font-family: sans-serif;
}

.header {
	height: 100px;
	background-color: white;
	text-align: center;
}

.navigation {
	heigt: 50px;	
	background-color: white;
}

.navigation > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.navigation > ul > li {
    float: left;
}

.navigation > ul > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation ul li a:hover {
    background-color: #111111;
}

.logo {
	height: 100px
}

.content {
	background-color: white;
	padding: 20px;
}

h1 {
	margin: 0;
}

fieldset {
	margin: 10px;
}

label {
	width: 150px;
	display: inline-block;
	text-align: right;
}

input {
	display: inline-block;
	width: 300px;
}

.radio {
	margin-left: 150px;
}

.radio label {
	width: 150px;
}

.radio input {
	width: 150px;
	margin: 0;
}

.button-half {
	width: 148px;
}

.button {
	margin-left: 154px;
}

.button-fieldset {
	margin-left: 178px;
}

form div {
	margin-top: 5px;
}

.chart-block {
	width: 40%;
	float: left;
	margin: 0% 5%;
	text-align: center;
}

.chart-block label {
	display: block;
}

.clear {
	clear: both;
}

.chart-legend {
	border-radius: 5px;
	padding: 10px 0px;
    background: #eeeeee;
    margin-bottom: 20px;
}

.chart-legend i {
	margin: 0px 5px;
}

table {
	display: block;
	margin: 10px;
}

table th {
	background-color: #eeeeee;
}

.submit-label{
	width: 15px;
	margin: 2.5px;
	cursor: pointer;
	color: blue;
}

.hidden {
	display: none;
}